# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.env

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Large ML artifacts
# =========================
*.pkl
*.joblib
*.h5
*.pt
*.pth

# =========================
# Temporary Data
# =========================
*.tmp

models/